{# This simple template derives from ``base.html``. See ``base.html`` for
more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!--<div class="col-sm-2 col-md-1 sidebar">-->
        <!--<ul class="nav nav-sidebar">-->
        <!--&lt;!&ndash; TODO active class via javascript? &ndash;&gt;-->
        <!--&lt;!&ndash;<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>&ndash;&gt;-->
        <!--<li class="active"><a href="#compare">Compare</a></li>-->
        <!--<li><a href="#explore">Explore</a></li>-->
        <!--</ul>-->
        <!--&lt;!&ndash;<ul class="nav nav-sidebar">&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="">Nav item</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="">Nav item again</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="">One more nav</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="">Another nav item</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="">More navigation</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</div>-->

        <div class="col-sm-12 col-md-12 main">

            <!--<div class="row placeholders">-->
            <!--<div class="col-xs-6 col-sm-3 placeholder">-->
            <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="-->
            <!--width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
            <!--<h4>Label</h4>-->
            <!--<span class="text-muted">Something else</span>-->
            <!--</div>-->
            <!--<div class="col-xs-6 col-sm-3 placeholder">-->
            <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="-->
            <!--width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
            <!--<h4>Label</h4>-->
            <!--<span class="text-muted">Something else</span>-->
            <!--</div>-->
            <!--<div class="col-xs-6 col-sm-3 placeholder">-->
            <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="-->
            <!--width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
            <!--<h4>Label</h4>-->
            <!--<span class="text-muted">Something else</span>-->
            <!--</div>-->
            <!--<div class="col-xs-6 col-sm-3 placeholder">-->
            <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="-->
            <!--width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
            <!--<h4>Label</h4>-->
            <!--<span class="text-muted">Something else</span>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                {% if not results %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    No authors could be found for field "{{ field_of_study }}".
                </div>
                {% else %}
                <h2 class="sub-header">Authors --
                    <mark>{{ field_of_study }}</mark>
                </h2>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Fields of Study</th>
                            <th>Cited</th>
                            <th>Has Organization</th>
                            <th>Measures</th>
                            <th>Updated At</th>
                            <th>Created At</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for result in results %}
                        <tr>
                            <td>{{ result.name }}</td>
                            <td>{{ result.fields_of_study }}</td>
                            <td>{{ result.cited }}</td>
                            <td>{{ result.hasCo }}</td>
                            <td>{{ result.measures }}</td>
                            <td>{{ result.updated_at }}</td>
                            <td>{{ result.created_at }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                {% endif %}
                <!-- AUTHORS TABLE -->
            </div>
        </div>
    </div>
</div>
{%- endblock %}

{% block scripts -%}
{{super()}}
<script type="text/javascript">
    var data = [{'key': 'Max', values: [10, 50, 500, 50, 50, 50]}, {'key': 'Avg', data: [110, 302, 440, 4550, 34, 4]}]

    google.load("visualization", "1.1", {packages: ["bar"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Person', 'h-index', 'wat-index', 'value-index'],
            ['Max', 1000, 400, 200],
            ['Avg', 1170, 460, 250]
        ]);

        var options = {
            chart: {
                title: 'Scientific Measurements',
                subtitle: 'Citation indices',
            },
            bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, options);
    }
</script>
{% endblock %}
